body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  background-image: url(https://wallpapercave.com/uwp/uwp4613766.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.heading1 {
  color: white;
  display: flex;
  text-align: bottom;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}


.hacker {
  justify-content: center;
  text-align: center;
  color: white;
  display: flex;
  bottom: 10%;
}
