body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  background-image: url(https://wallpapercave.com/uwp/uwp4613766.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.heading1 {
  color: white;
  display: flex;
  text-align: bottom;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}



.loginClick {
  color: white;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 15px lightblue;
  position: relative;
  left: 60vh;
  top: 20vh;
  filter: drop-shadow(0 0 0.75rem lightblue);
  width: 300px;
}